@media only screen and (max-width: 768px) {
  body {
    width: 100%;
    min-height: 1024px;
    -ms-grid-rows: 0.5fr;
    grid-template-rows: 0.5fr;
  }
  .header {
    -ms-grid-columns: 1fr 1fr 0.2fr;
    grid-template-columns: 1fr 1fr 0.2fr;
  }
  .header .logo {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .header nav {
    -ms-grid-column: 2;
    grid-column: 2;
  }
  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 617px;
    width: 100%;
    margin: auto;
  }
  .main .main-first-section-text {
    margin: auto;
    max-width: 574px;
    width: 100%;
    min-height: 172px;
  }
  .main .main-first-section-text h2 {
    max-width: 315px;
    width: 100%;
    min-height: 83px;
    margin: auto;
    color: #FFFFFF;
    text-align: center;
    font-size: 72px;
    font-weight: normal;
    font-family: Poppins, sans-serif;
    line-height: 82.8px;
    letter-spacing: -1.6px;
  }
  .main .main-first-section-text p {
    max-width: 573.5px;
    width: 100%;
    min-height: 66px;
    color: #FFFFFF;
    text-align: justify;
    -moz-text-align-last: center;
         text-align-last: center;
    font-size: 22px;
    font-weight: normal;
    font-family: Source sans pro, sans-serif;
    line-height: 33px;
  }
  .main .main-image-container {
    display: none;
  }
  .main .main-image-container-tablet {
    display: block;
  }
  .main .main-image-tablet {
    max-width: 617px;
    width: 100%;
    min-height: 512px;
  }
}
@media only screen and (max-width: 600px) {
  .main-image-container-tablet {
    display: none;
  }
  .menu-phone {
    display: block;
  }
  .header {
    -ms-grid-columns: 1fr 1fr 0.2fr;
    grid-template-columns: 1fr 1fr 0.2fr;
  }
  .logo {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  body {
    -ms-grid-rows: 0.2fr;
    grid-template-rows: 0.2fr;
    width: 100%;
    min-height: 568px;
  }
  .logo {
    -ms-grid-column: 3;
    grid-column: 3;
  }
  nav {
    display: none;
  }
  .main-image-container {
    display: none;
  }
  .main-image-container-phone {
    display: block;
    max-width: 320px;
    width: 100%;
    min-height: 366px;
    margin: auto;
  }
  .main-image-phone {
    max-width: 320px;
    width: 100%;
    min-height: 366px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 320px;
    width: 100%;
    margin: auto;
  }
  .main-first-section-text {
    margin: auto;
    max-width: 211px;
    width: 100%;
    min-height: 104px;
  }
  .main-first-section-text h2 {
    margin: auto;
    max-width: 158px;
    width: 100%;
    min-height: 40px;
    color: #FFFFFF;
    text-align: center;
    font-size: 36px;
    font-weight: normal;
    font-family: Poppins, sans-serif;
    line-height: 39.6px;
    letter-spacing: -0.8px;
  }
  .main-first-section-text p {
    max-width: 211px;
    width: 100%;
    min-height: 49px;
    color: #FFFFFF;
    text-align: justify;
    -moz-text-align-last: center;
         text-align-last: center;
    font-size: 12px;
    font-weight: normal;
    font-family: Source sans pro, sans-serif;
    line-height: 18px;
  }
}