$color1: black;
$color2: #FFFFFF;
$color3: #242635;
$font: Source sans pro, sans-serif;
$font2: Actor, sans-serif;
$font3: Poppins, sans-serif;

.container{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #02040c9d;
    overflow-x: hidden;
    transition: 0.5s;
}
.open-icon{
    cursor: pointer;
    color: white;

}
.icon{
    grid-column: 3;    
    grid-row: 2;
    align-self: center;

}
.close-icon{
    position: absolute;
    left: 10px;
    top: 15px;
    font-size: 40px;
    cursor: pointer;
    color: white;

}

.content{
    position: absolute;
    // right: 45px;
    // top: 20px;
    font-size: 40px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    // height: 100vh;
    width: 100%;
    top: 40%;
    

}
.content a{
    
        text-decoration: none;
        display: block;
        color: gray;
        padding: 10px;
        font-family: $font;
    
}
.content a:hover{
    color: lightgray;
}