* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: ()["3, 1fr"];
  grid-template-columns: repeat("3, 1fr");
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  max-width: 1440px;
  width: 100%;
  min-height: 810px;
  background-color: black;
}

.section {
  display: none;
}

.container {
  display: none;
}

.icon {
  display: none;
}

.container {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(2, 4, 12, 0.6156862745);
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.open-icon {
  cursor: pointer;
  color: white;
}

.icon {
  -ms-grid-column: 3;
  grid-column: 3;
  -ms-grid-row: 2;
  grid-row: 2;
  -ms-grid-row-align: center;
      align-self: center;
}

.close-icon {
  position: absolute;
  left: 10px;
  top: 15px;
  font-size: 40px;
  cursor: pointer;
  color: white;
}

.content {
  position: absolute;
  font-size: 40px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  top: 40%;
}

.content a {
  text-decoration: none;
  display: block;
  color: gray;
  padding: 10px;
  font-family: Source sans pro, sans-serif;
}

.content a:hover {
  color: lightgray;
}

.header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.3fr 1fr 1fr;
  grid-template-columns: 0.3fr 1fr 1fr;
  -ms-grid-rows: 0.5fr 1fr;
  grid-template-rows: 0.5fr 1fr;
  max-width: 1350px;
  width: 100%;
  min-height: 25px;
  margin: auto;
}

.header > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.header > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.header > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}

.header > *:nth-child(4) {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}

.header > *:nth-child(5) {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}

.header > *:nth-child(6) {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
}
.header .logo {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  max-width: 90px;
  width: 100%;
  min-height: 36px;
}
.header .logo a {
  color: white;
  font-size: 24px;
  font-family: Actor, sans-serif;
  font-weight: lighter;
  line-height: 36px;
  letter-spacing: -0.35px;
  text-decoration: none;
}
.header .logo:hover {
  cursor: pointer;
}

nav {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-row-align: center;
      align-self: center;
}
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
nav li {
  float: left;
  padding: 0 20px 0 20px;
}
nav a {
  display: block;
  text-decoration: none;
  color: white;
  max-width: 59px;
  width: 100%;
  min-height: 23px;
  font-family: Source sans pro, sans-serif;
  font-size: 16px;
  font-weight: lighter;
  line-height: 22.4px;
}
nav a:hover {
  cursor: pointer;
  color: gray;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1350px;
  width: 100%;
  margin: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-first-section-text {
  max-width: 416px;
  width: 100%;
  min-height: 244px;
}
.main-first-section-text h2 {
  color: white;
  font-size: 84px;
  font-weight: normal;
  font-family: Poppins, sans-serif;
  line-height: 102px;
  letter-spacing: -2px;
}
.main-first-section-text p {
  max-width: 410px;
  width: 100%;
  min-height: 98px;
  color: white;
  font-size: 22px;
  font-weight: normal;
  font-family: Source sans pro, sans-serif;
  line-height: 34px;
}

.main-image {
  max-width: 585px;
  width: 100%;
  min-height: 690px;
}

.main-image-container-tablet {
  display: none;
}

.main-image-container-phone {
  display: none;
}

@media only screen and (max-width: 1024px) {
  body {
    width: 100%;
    min-height: 1024px;
    -ms-grid-rows: 0.5fr;
    grid-template-rows: 0.5fr;
  }
  .header {
    -ms-grid-columns: 1fr 1fr 0.2fr;
    grid-template-columns: 1fr 1fr 0.2fr;
  }
  .header .logo {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  .header nav {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 617px;
    width: 100%;
    margin: auto;
  }
  .main-first-section-text {
    margin: auto;
    max-width: 574px;
    width: 100%;
    min-height: 172px;
  }
  .main-first-section-text h2 {
    max-width: 315px;
    width: 100%;
    min-height: 83px;
    margin: auto;
    color: #FFFFFF;
    text-align: center;
    font-size: 72px;
    font-weight: normal;
    font-family: Poppins, sans-serif;
    line-height: 82.8px;
    letter-spacing: -1.6px;
  }
  .main-first-section-text p {
    max-width: 573.5px;
    width: 100%;
    min-height: 66px;
    color: #FFFFFF;
    text-align: justify;
    -moz-text-align-last: center;
         text-align-last: center;
    font-size: 22px;
    font-weight: normal;
    font-family: Source sans pro, sans-serif;
    line-height: 33px;
  }
  .main-image-container {
    display: none;
  }
  .main-image-container-tablet {
    display: block;
  }
  .main-image-tablet {
    max-width: 617px;
    width: 100%;
    min-height: 512px;
  }
}
@media only screen and (max-width: 606px) {
  body {
    -ms-grid-rows: 0.2fr;
    grid-template-rows: 0.2fr;
    width: 100%;
    min-height: 568px;
  }
  .container {
    display: block;
  }
  .icon {
    display: block;
  }
  .header {
    -ms-grid-columns: 1fr 1fr 0.2fr;
    grid-template-columns: 1fr 1fr 0.2fr;
  }
  .logo {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  nav {
    display: none;
  }
  .main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 320px;
    width: 100%;
    margin: auto;
  }
  .main-first-section-text {
    margin: auto;
    max-width: 211px;
    width: 100%;
    min-height: 104px;
  }
  .main-first-section-text h2 {
    margin: auto;
    max-width: 158px;
    width: 100%;
    min-height: 40px;
    color: #FFFFFF;
    text-align: center;
    font-size: 36px;
    font-weight: normal;
    font-family: Poppins, sans-serif;
    line-height: 39.6px;
    letter-spacing: -0.8px;
  }
  .main-first-section-text p {
    max-width: 211px;
    width: 100%;
    min-height: 49px;
    color: #FFFFFF;
    text-align: justify;
    -moz-text-align-last: center;
         text-align-last: center;
    font-size: 12px;
    font-weight: normal;
    font-family: Source sans pro, sans-serif;
    line-height: 18px;
  }
  .main-image-container {
    display: none;
  }
  .main-image-container-tablet {
    display: none;
  }
  .main-image-container-phone {
    display: block;
    max-width: 320px;
    width: 100%;
    min-height: 366px;
    margin: auto;
  }
  .main-image-phone {
    max-width: 320px;
    width: 100%;
    min-height: 366px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}